@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-purple-1: #6962f7;
  --color-purple-2: #7000ff;
  --color-blue-1: #00d4ff;
  --color-primary-accent: #0a2540;
  --color-primary-button-hover: #6d7a88;
  --color-light: #f7f9fc;
  --color-dark: #000;
  --color-grey: #adbdcc;

  --font-roboto: "Roboto", sans-serif;
  --font-anek: "Anek Telugu", sans-serif;

  --text-h1-size: 94px;
  --leading-h1-height: 108px;

  --text-h2-size: 50px;
  --leading-h2-height: 75px;

  --text-h3-size: 40px;
  --text-h4-size: 32px;
  --text-h5-size: 28px;
  --text-h6-size: 22px;
  --text-subtitle-size: 17px;
  --leading-subtitle-height: 26px;

  --text-p-size: 18px;
  --leading-p-height: 26px;
  --text-button-size: 16px;

  --text-secondary-size: 14px;
  --leading-secondary-height: 18px;

  --spacing-max-width: 1144px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --shadow-standard: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

@layer base {
  h1,
  h2,
  h4,
  h5,
  h6 {
    @apply font-anek font-semibold;
  }

  h3 {
    @apply font-anek font-medium;
  }
}

@layer components {
  .section-container {
    @apply max-w-max-width w-full;
  }

  .two-column {
    @apply max-w-max-width box-border flex w-full items-start justify-center;
  }

  .column-left {
    @apply pr-md box-border flex w-1/2 flex-col items-start justify-center;
  }

  .column-right {
    @apply pl-md box-border flex w-1/2 flex-col items-start justify-center;
  }

  .icon-animation {
    @apply transition-transform delay-100 ease-in-out group-hover:translate-x-1;
  }

  .black-button {
    @apply text-button-size bg-primary-accent py-sm px-md hover:bg-primary-button-hover flex cursor-pointer rounded-[20px] border-none tracking-[1.25px] text-white transition-all delay-100 duration-100 ease-in-out;
  }

  .purple-button {
    @apply text-button-size bg-purple-1 my-lg py-sm px-md hover:bg-primary-accent flex cursor-pointer rounded-[20px] border-none tracking-[1.25px] text-white transition-all delay-100 duration-100 ease-in-out;
  }

  .secondary-button {
    @apply text-button-size py-sm px-md flex cursor-pointer rounded-[20px] border-none bg-transparent tracking-[1.25px] transition-all duration-100 ease-in-out hover:opacity-75;
  }

  .partners-grid img {
    @apply h-[60px] place-self-center;
  }

  .purple-link {
    @apply text-purple-1 hover:text-primary-accent font-medium transition-colors duration-250 ease-in-out;
  }

  .blue-link {
    @apply text-blue-1 font-medium transition-colors duration-250 ease-in-out hover:text-white;
  }

  .graphic-grid {
    display: grid;
    grid-template-areas:
      "card slack slack"
      "phone slack slack"
      "phone dash dash";
    grid-gap: var(--spacing-lg);
    padding: var(--spacing-lg) 0;
  }

  #credit-card {
    grid-area: card;
    width: 100%;
    box-shadow: var(--shadow-standard);
  }
  #slack-invoice {
    grid-area: slack;
    width: 100%;
    box-shadow: var(--shadow-standard);
  }

  #phone {
    grid-area: phone;
    width: 100%;
    box-shadow: var(--shadow-standard);
  }

  #dash {
    grid-area: dash;
    width: 100%;
    box-shadow: var(--shadow-standard);
  }
}
